VITE_API_BASE_URL=https://api.vietride.online
VITE_PUBLIC_BUILDER_KEY=
VITE_ROUTING_API_URL=https://router.project-osrm.org

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=vietride-204c0.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=vietride-204c0
VITE_FIREBASE_STORAGE_BUCKET=vietride-204c0.firebasestorage.app
VITE_FIREBASE_APP_ID=
